.card {
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

.card p {
  color: hsl(193, 38%, 86%);
}

.card button {
  background-color: hsl(193, 38%, 86%);
  color: hsl(218, 23%, 16%);
  padding: 10px 10px;
  border-radius: 50%;
  border: none;
  margin-top: 20px;
}
.card h1 {
  color: white;
  font-size: 28px;
}
